<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Movie-Chat
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    body(style="margin:0; padding:0;")
        header.navbar.d-flex.justify-content-center(style="background-color: rgb(209, 206, 33);")
            h1(style="font-family: fantasy;") Movie-Chat

        main.container-fluid.row(style="padding:0px height: 700px;")
            .col-md-6(style="padding-top: 50px; padding-left: 200px;")
                img(src=details.Poster style="width:400px; height:600px;")
            .col-md-6(style="padding-top:60px;")
                h5 Title: 
                    strong #{details.Title}
                h5 Year: 
                    strong #{details.Year}
                h5 Rated: 
                    strong #{details.Rated}
                h5 Date of Release: 
                    strong #{details.Released}
                h5 Genre: 
                    strong #{details.Genre}
                h5 Director: 
                    strong #{details.Director}
                h5 Writers: 
                    strong #{details.Writer}
                h5 Actors: 
                    strong #{details.Actors}
                h5 Plot: 
                    strong #{details.Plot}
                h5 Language: 
                    strong #{details.Language}
                h5 Awards: 
                    strong #{details.Awards}
                h5 Year: 
                    strong #{details.Year}
                h5 Ratings: 
                    br
                    each rating in details.Ratings
                        strong &emsp; #{rating.Source} : #{rating.Value}
                            br
                    
                    
                    

        footer.footer-copyright.text-center.py-3(style="width: 100%; text-align: center;") &copy; 2020 Copyright:
            a(href="#") www.movie_chat.com

