<%- include('layouts/header.ejs') %>

<body>
  <header
    class="navbar d-flex justify-content-center"
    style=" background: linear-gradient(
          90deg,
          rgba(34, 193, 195, 1) 0%,
          rgba(253, 187, 45, 1) 100%"
  >
    <h1 style="font-family: fantasy">Movie-Chat</h1>
  </header>
  <form
    action="/search"
    method="POST"
    class="form-group text-center"
    style="margin: 30px 0px"
  >
    <input
      type="text"
      name="search"
      style="margin: 10px 5px; height: 45px; width: 400px"
      placeholder="Search for movies"
    />
    <button
      type="submit"
      style="
        margin: 10px 0px;
        height: 45px;
        width: 80px;
        border-width: 0ch;
        background-color: rgb(163, 228, 59);
      "
    >
      <i class="fa fa-search"></i>
    </button>
  </form>
  <main
    class="container-fluid row"
    style="width: inherit; margin-right: 20px; margin-left: 5px"
  >
    <% movies.forEach((movie)=> { %>
    <div class="col-md-3" style="padding: 20px 10px">
      <div class="text-center">
        <img
          src="<%= movie.Poster %>"
          style="width: 80%; height: 200px; padding: 0px 40px"
        />
        <h5 style="padding: 5px 40px 0px 40px"><%= movie.Title %></h5>
        <h5><%= movie.Year %></h5>
        <form action="/details" method="POST">
          <input
            type="hidden"
            name="id"
            value="<%= movie.imdbID %>"
            style="margin: 10px 5px; height: 45px; width: 400px"
          />
          <button
            type="submit"
            style="
              margin: 10px 0px;
              height: 45px;
              width: 80px;
              border-width: 0ch;
              background-color: rgb(163, 228, 59);
            "
          >
            <a> Details </a>
          </button>
        </form>
      </div>
    </div>
    <% }) %>
  </main>
</body>

<%- include('layouts/footer.ejs') %>
